[Unit]
Description=egts_kafka_1005
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.6 /root/stdpr_python/run_egts_kafka.py 1005
PIDFile=/var/run/egts_kafka_1005.pid

[Install]
WantedBy=multi-user.target
